$boja1 : rgb(71, 71, 71);
$boja2 : rgb(112, 4, 0);
$header-color: #424242;
$font-color: white;

@mixin font1{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: center;
}

@mixin font2{
    font-family: Roboto, sans-serif;
    font-weight: 300;
}